In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import warnings
warnings.filterwarnings('ignore')
 
df = pd.read_csv("bank_additional_full_cleaned.csv")
 
 
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [50]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [51]:
df.duplicated().sum()

np.int64(12)

In [52]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [53]:
df = df.drop(columns=['duration', 'pdays', 'previous'], errors='ignore')

In [54]:
le = LabelEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0

In [55]:

X = df.drop('y', axis=1)
y = df['y']

 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [56]:
model = Sequential([
    Dense(64, activation="relu",input_shape=(X_train_scaled.shape[1],)),
    Dropout(0.3),
    Dense(32, activation="relu"),
    Dropout(0.2),
    Dense(1, activation="sigmoid")   
])

In [57]:
model.compile(optimizer="adam",
              loss="binary_crossentropy",
              metrics=["accuracy"])

In [60]:
 
history = model.fit(
    X_train_scaled, y_train,
    epochs=50,
    batch_size=32,
    validation_split=0.2,verbose=1
)

Epoch 1/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9044 - loss: 0.2691 - val_accuracy: 0.8948 - val_loss: 0.2905
Epoch 2/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9051 - loss: 0.2684 - val_accuracy: 0.8948 - val_loss: 0.2894
Epoch 3/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9049 - loss: 0.2688 - val_accuracy: 0.8913 - val_loss: 0.2893
Epoch 4/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9044 - loss: 0.2687 - val_accuracy: 0.8933 - val_loss: 0.2901
Epoch 5/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9052 - loss: 0.2680 - val_accuracy: 0.8940 - val_loss: 0.2894
Epoch 6/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9052 - loss: 0.2680 - val_accuracy: 0.8921 - val_loss: 0.2887
Epoch 7/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9058 - loss: 0.2677 - val_accuracy: 0.8951 - val_loss: 0.2893
Epoch 8/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9046 - loss: 0.2705 - val_accuracy: 0.8930 - val_loss: 0.2907
Epoch 9/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9053 - loss: 0.2682 - val_accuracy: 0.8915 - val_loss: 0.2898
Epoch 10/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9066 - loss: 0.2675 - val_accuracy: 0.8919 - val_loss: 0.2894
Epoch 11/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9065 - loss: 0.2677 - val_accuracy: 0.8930 - val_loss: 0.2896
Epoch 12/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9054 - loss: 0.2674 - val_accuracy: 0.8933 - val_loss: 0.2896
Epoch 13/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9058 - loss: 0.2676 - val_accuracy: 0.8950 - val_loss: 0.2890
Epoch 14/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9054 - loss: 0.2677 - val_accuracy: 0.8933 - val_loss: 0.2899
Epoch 15/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9055 - loss: 0.2661 - val_accuracy: 0.8927 - val_loss: 0.2889
Epoch 16/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9057 - loss: 0.2673 - val_accuracy: 0.8930 - val_loss: 0.2916
Epoch 17/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9066 - loss: 0.2669 - val_accuracy: 0.8954 - val_loss: 0.2914
Epoch 18/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9051 - loss: 0.2678 - val_accuracy: 0.8927 - val_loss: 0.2890
Epoch 19/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9064 - loss: 0.2664 - val_accuracy: 0.8939 - val_loss: 0.2899
Epoch 20/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9058 - loss: 0.2685 - val_accuracy: 0.8921 - val_loss: 0.2894
Epoch 21/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9055 - loss: 0.2670 - val_accuracy: 0.8919 - val_loss: 0.2894
Epoch 22/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9062 - loss: 0.2669 - val_accuracy: 0.8928 - val_loss: 0.2899
Epoch 23/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9060 - loss: 0.2668 - val_accuracy: 0.8928 - val_loss: 0.2888
Epoch 24/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9069 - loss: 0.2663 - val_accuracy: 0.8924 - val_loss: 0.2882
Epoch 25/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9051 - loss: 0.2673 - val_accuracy: 0.8933 - val_loss: 0.2904
Epoch 26/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9064 - loss: 0.2668 - val_accuracy: 0.8928 - val_loss: 0.2889
Epoch 27/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9066 - loss: 0.2666 - val_accuracy: 0.8934 - val_loss: 0.2894
Epoch 28/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9058 - loss: 0.2676 - val_accuracy: 0.8934 - val_loss: 0.2885
Epoch 29/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9064 - loss: 0.2661 - val_accuracy: 0.8915 - val_loss: 0.2899
Epoch 30/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9057 - loss: 0.2681 - val_accuracy: 0.8928 - val_loss: 0.2903
Epoch 31/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9061 - loss: 0.2665 - val_accuracy: 0.8913 - val_loss: 0.2899
Epoch 32/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9070 - loss: 0.2646 - val_accuracy: 0.8916 - val_loss: 0.2947
Epoch 33/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9055 - loss: 0.2662 - val_accuracy: 0.8924 - val_loss: 0.2900
Epoch 34/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9053 - loss: 0.2660 - val_accuracy: 0.8925 - val_loss: 0.2941
Epoch 35/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9064 - loss: 0.2644 - val_accuracy: 0.8916 - val_loss: 0.2895
Epoch 36/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9070 - loss: 0.2645 - val_accuracy: 0.8916 - val_loss: 0.2905
Epoch 37/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9065 - loss: 0.2657 - val_accuracy: 0.8927 - val_loss: 0.2906
Epoch 38/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9065 - loss: 0.2654 - val_accuracy: 0.8928 - val_loss: 0.2883
Epoch 39/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9076 - loss: 0.2650 - val_accuracy: 0.8924 - val_loss: 0.2899
Epoch 40/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9066 - loss: 0.2649 - val_accuracy: 0.8927 - val_loss: 0.2914
Epoch 41/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9070 - loss: 0.2639 - val_accuracy: 0.8924 - val_loss: 0.2920
Epoch 42/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9067 - loss: 0.2647 - val_accuracy: 0.8916 - val_loss: 0.2900
Epoch 43/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9065 - loss: 0.2660 - val_accuracy: 0.8910 - val_loss: 0.2930
Epoch 44/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.9064 - loss: 0.2651 - val_accuracy: 0.8924 - val_loss: 0.2899
Epoch 45/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9062 - loss: 0.2652 - val_accuracy: 0.8927 - val_loss: 0.2916
Epoch 46/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9071 - loss: 0.2655 - val_accuracy: 0.8928 - val_loss: 0.2898
Epoch 47/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9065 - loss: 0.2642 - val_accuracy: 0.8927 - val_loss: 0.2901
Epoch 48/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.9073 - loss: 0.2647 - val_accuracy: 0.8918 - val_loss: 0.2888
Epoch 49/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9062 - loss: 0.2632 - val_accuracy: 0.8933 - val_loss: 0.2890
Epoch 50/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9066 - loss: 0.2657 - val_accuracy: 0.8931 - val_loss: 0.2894

In [59]:
 
y_pred_proba = model.predict(X_test_scaled)
y_pred = (y_pred_proba > 0.5).astype(int).flatten()

 
print(f" Accuracy: {model.evaluate(X_test_scaled, y_test, verbose=0)[1]:.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test,y_pred))

258/258 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step
 Accuracy: 0.8978

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.98      0.94      7308
           1       0.64      0.21      0.32       928

    accuracy                           0.90      8236
   macro avg       0.77      0.60      0.63      8236
weighted avg       0.88      0.90      0.87      8236


Confusion Matrix:
[[7197  111]
 [ 731  197]]