In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import warnings
warnings.filterwarnings('ignore')
 
df = pd.read_csv("bank_additional_full_cleaned.csv")
 
 
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [33]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [34]:
df.duplicated().sum()

np.int64(12)

In [35]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [36]:
df = df.drop(columns=['duration', 'pdays', 'previous'], errors='ignore')

In [45]:
le = LabelEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,1,1,1.1,93.994,-36.4,4.857,5191.0,0

In [47]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np

# --- 1. Training History (Accuracy & Loss Curves) ---
def plot_training_history(history):
    # Accuracy plot
    plt.figure(figsize=(8,5))
    plt.plot(history.history['accuracy'], label='Train Accuracy')
    plt.plot(history.history['val_accuracy'], label='Validation Accuracy')
    plt.xlabel('Epochs')
    plt.ylabel('Accuracy')
    plt.title('Training vs Validation Accuracy')
    plt.legend()
    plt.savefig("training_accuracy.png")
    plt.close()

In [44]:
# Prepare features and target
X = df.drop('y', axis=1)
y = df['y']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [39]:
model = Sequential([
    Dense(64, activation="relu", input_shape=(X_train_scaled.shape[1],)),
    Dropout(0.3),
    Dense(32, activation="relu"),
    Dropout(0.2),
    Dense(1, activation="sigmoid")  # Binary classification
])

In [40]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [41]:
# Train the model
history = model.fit(
    X_train_scaled, y_train,
    epochs=50,
    batch_size=32,
    validation_split=0.2,verbose=1
)

Epoch 1/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8865 - loss: 0.3209 - val_accuracy: 0.8928 - val_loss: 0.2959
Epoch 2/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8986 - loss: 0.2944 - val_accuracy: 0.8940 - val_loss: 0.2924
Epoch 3/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.9000 - loss: 0.2885 - val_accuracy: 0.8950 - val_loss: 0.2928
Epoch 4/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9014 - loss: 0.2865 - val_accuracy: 0.8945 - val_loss: 0.2902
Epoch 5/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9011 - loss: 0.2860 - val_accuracy: 0.8945 - val_loss: 0.2895
Epoch 6/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9019 - loss: 0.2847 - val_accuracy: 0.8944 - val_loss: 0.2896
Epoch 7/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.9009 - loss: 0.2831 - val_accuracy: 0.8944 - val_loss: 0.2913
Epoch 8/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9009 - loss: 0.2836 - val_accuracy: 0.8933 - val_loss: 0.2893
Epoch 9/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9015 - loss: 0.2817 - val_accuracy: 0.8950 - val_loss: 0.2887
Epoch 10/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.9013 - loss: 0.2819 - val_accuracy: 0.8944 - val_loss: 0.2889
Epoch 11/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9012 - loss: 0.2811 - val_accuracy: 0.8944 - val_loss: 0.2877
Epoch 12/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9021 - loss: 0.2810 - val_accuracy: 0.8933 - val_loss: 0.2907
Epoch 13/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9018 - loss: 0.2794 - val_accuracy: 0.8951 - val_loss: 0.2902
Epoch 14/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9026 - loss: 0.2803 - val_accuracy: 0.8940 - val_loss: 0.2868
Epoch 15/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9018 - loss: 0.2792 - val_accuracy: 0.8939 - val_loss: 0.2893
Epoch 16/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9025 - loss: 0.2783 - val_accuracy: 0.8940 - val_loss: 0.2889
Epoch 17/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9022 - loss: 0.2784 - val_accuracy: 0.8936 - val_loss: 0.2891
Epoch 18/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9021 - loss: 0.2774 - val_accuracy: 0.8940 - val_loss: 0.2907
Epoch 19/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9023 - loss: 0.2771 - val_accuracy: 0.8944 - val_loss: 0.2874
Epoch 20/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9024 - loss: 0.2765 - val_accuracy: 0.8936 - val_loss: 0.2895
Epoch 21/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9035 - loss: 0.2768 - val_accuracy: 0.8939 - val_loss: 0.2895
Epoch 22/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9022 - loss: 0.2769 - val_accuracy: 0.8931 - val_loss: 0.2895
Epoch 23/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9022 - loss: 0.2760 - val_accuracy: 0.8934 - val_loss: 0.2895
Epoch 24/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9035 - loss: 0.2754 - val_accuracy: 0.8950 - val_loss: 0.2897
Epoch 25/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9026 - loss: 0.2763 - val_accuracy: 0.8919 - val_loss: 0.2924
Epoch 26/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9042 - loss: 0.2744 - val_accuracy: 0.8959 - val_loss: 0.2885
Epoch 27/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9035 - loss: 0.2754 - val_accuracy: 0.8953 - val_loss: 0.2896
Epoch 28/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9028 - loss: 0.2728 - val_accuracy: 0.8944 - val_loss: 0.2888
Epoch 29/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9023 - loss: 0.2742 - val_accuracy: 0.8934 - val_loss: 0.2886
Epoch 30/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9037 - loss: 0.2726 - val_accuracy: 0.8928 - val_loss: 0.2909
Epoch 31/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9033 - loss: 0.2735 - val_accuracy: 0.8919 - val_loss: 0.2919
Epoch 32/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9039 - loss: 0.2738 - val_accuracy: 0.8944 - val_loss: 0.2899
Epoch 33/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9045 - loss: 0.2733 - val_accuracy: 0.8916 - val_loss: 0.2947
Epoch 34/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9038 - loss: 0.2723 - val_accuracy: 0.8945 - val_loss: 0.2903
Epoch 35/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9037 - loss: 0.2732 - val_accuracy: 0.8925 - val_loss: 0.2915
Epoch 36/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9046 - loss: 0.2714 - val_accuracy: 0.8928 - val_loss: 0.2918
Epoch 37/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9043 - loss: 0.2710 - val_accuracy: 0.8916 - val_loss: 0.2919
Epoch 38/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9040 - loss: 0.2718 - val_accuracy: 0.8937 - val_loss: 0.2896
Epoch 39/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9050 - loss: 0.2708 - val_accuracy: 0.8927 - val_loss: 0.2915
Epoch 40/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9044 - loss: 0.2713 - val_accuracy: 0.8925 - val_loss: 0.2928
Epoch 41/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9044 - loss: 0.2719 - val_accuracy: 0.8934 - val_loss: 0.2899
Epoch 42/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9049 - loss: 0.2702 - val_accuracy: 0.8930 - val_loss: 0.2909
Epoch 43/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9043 - loss: 0.2702 - val_accuracy: 0.8928 - val_loss: 0.2915
Epoch 44/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9040 - loss: 0.2712 - val_accuracy: 0.8945 - val_loss: 0.2895
Epoch 45/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9054 - loss: 0.2698 - val_accuracy: 0.8934 - val_loss: 0.2907
Epoch 46/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9050 - loss: 0.2706 - val_accuracy: 0.8944 - val_loss: 0.2906
Epoch 47/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9063 - loss: 0.2681 - val_accuracy: 0.8928 - val_loss: 0.2920
Epoch 48/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9050 - loss: 0.2699 - val_accuracy: 0.8924 - val_loss: 0.2916
Epoch 49/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9043 - loss: 0.2705 - val_accuracy: 0.8927 - val_loss: 0.2913
Epoch 50/50
824/824 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9052 - loss: 0.2692 - val_accuracy: 0.8947 - val_loss: 0.2914

In [43]:
# Evaluate the model
y_pred_proba = model.predict(X_test_scaled)
y_pred = (y_pred_proba > 0.5).astype(int).flatten()

 
print(f" Accuracy: {model.evaluate(X_test_scaled, y_test, verbose=0)[1]:.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test,y_pred))

258/258 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
 Accuracy: 0.8968

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.99      0.94      7308
           1       0.65      0.19      0.29       928

    accuracy                           0.90      8236
   macro avg       0.78      0.59      0.62      8236
weighted avg       0.88      0.90      0.87      8236


Confusion Matrix:
[[7213   95]
 [ 755  173]]